@import "tailwindcss";
@import "@fontsource/baloo-thambi-2/index.css";
@import "@fontsource/rubik/index.css";

/* Scrolling ticker: right → left, seamless loop (reappears from right) */
/* @keyframes marquee {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 15s linear infinite;
} */

@keyframes marquee-ltr {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee-rtl {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-marquee-ltr {
  animation: marquee-ltr 15s linear infinite;
}

.animate-marquee-rtl {
  animation: marquee-rtl 15s linear infinite;
}
body {
  overflow-x: hidden;
}
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-rubik: "Rubik", sans-serif;
  --font-baloo: "Baloo Thambi 2", system-ui;
  --color-background: white;
  --color-foreground: black;
  --color-primary: #ff4100;
}

@layer base {
  body {
    @apply bg-background text-foreground font-rubik;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #16171d;
    --color-foreground: #f3f4f6;
  }
}
