@import "tailwindcss";
@import "@fontsource/baloo-thambi-2/index.css";
@import "@fontsource/rubik/index.css";

@keyframes marquee-ltr {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee-rtl {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-marquee-ltr {
  animation: marquee-ltr 15s linear infinite;
}

.animate-marquee-rtl {
  animation: marquee-rtl 15s linear infinite;
}

body {
  overflow-x: hidden;
}

/* enable dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));

/* light theme (default) */
@theme {
  --font-rubik: "Rubik", sans-serif;
  --font-baloo: "Baloo Thambi 2", system-ui;

  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #ff4100;
  --color-main: #242424;
}

/* dark theme (controlled by next-themes) */
.dark {
  --color-background: #16171d;
  --color-foreground: #f3f4f6;
}

/* base styles */
@layer base {
  body {
    @apply bg-background text-foreground font-rubik;
  }
}

<<<<<<< HEAD
/* optional: improve native UI (scrollbars, inputs, etc.) */
:root {
  color-scheme: light dark;
=======
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #242424f2;
    --color-foreground: #f3f4f6;
  }
>>>>>>> 78bae948868b0356a957dff3222a8fe8cf8c6f89
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
