@import "tailwindcss";
@import "@fontsource/baloo-thambi-2/index.css";
@import "@fontsource/rubik/index.css";

@theme {
  --font-rubik: "Rubik", sans-serif;
  --font-baloo: "Baloo Thambi 2", system-ui;
  --color-background: white;
  --color-foreground: black;
  --color-primary: #FF4100; 
}

@layer base {
  body {
    @apply bg-background text-foreground font-rubik;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #16171d;
    --color-foreground: #f3f4f6;
  }
}